{
  "presets": ["env", "stage-3", "react"],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", 
    {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
